html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    background-color: #1e2251;
    color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: baseline;
}

.logo-section img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.text-section, .contact-section {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
}

.contact-section {
    width: 30%;
    text-align: right;
}

.main-content {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.left-column {
    width: 30%;
    background-color: #454b63;
    color: #fff;
    padding: 20px;
}

.right-column {
    width: 70%;
    padding: 20px;
    max-width: 100%;
}

.right-column section {
    margin: 20px 0;
}

.right-column h2 {
    color: #1e2251;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-section, .contact-section {
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }

    .main-content {
        flex-direction: column;
        padding: 0;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .left-column {
        background-color: #1e2251;
        color: #fff;
        padding: 20px;
    }

    .advantage {
        flex: 0 0 100%;
        margin: 5px 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    height: auto;
}

footer {
    background-color: #1e2251;
    color: white;
    text-align: center;
    padding: 10px;
}

#advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.kreatywnosc {
    width: 100%;
}

.advantage {
    background-color: white;
    color: #454b63;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex: 0 0 calc(48% - 10px);
    box-sizing: border-box;
}

#programs .progress-bar {
    background-color: #eee;
    height: 15px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
}

#programs .progress {
    height: 100%;
    width: 0;
    background-color: #1e2251;
    text-align: center;
    font-size: 12px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

#skills li::before {
    content: "\2022";
    color: white;
    font-size: 14px;
    position: absolute;
    left: 0;
}

#project-2 .gallery {
    display: flex;
    justify-content: center;
}

#project-2 .gallery button {
    margin: 10px;
}
